
.header {
    background-color: black;
    color: #ffffff;
    padding-left: 50px;
}
.block {
    display: flex;
}
.body {
    text-align: center;
}
.page-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: left;
  }
  .left-panel-wrapper {
    width: 200px;
    background-color: #7d0909;
    margin-top: 5px;
    color: #d81f09;
  }
  .right-panel-wrapper {
    color: black;
    width: 200px;
    background-color: #e3dddd;
    margin-top: 5px;
  }
  .content-wrapper {
    width: calc(100% - 400px);
    padding: 0 30px;
  }
  .title {
      text-align: center;
      background-color: #bdbdbd;
      width: 190px;
      height: 30px;
      margin-top: 3px;
      margin-left: 1px;
  }
  .copy {
    background-color: #e95b11;
    font-size: 20px;
    margin-bottom: 50px;
  }